body {
      background: #f3f3f3;
      font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
      text-align: center;
      -webkit-text-size-adjust: none;
    }
    
    .carousel .item {
      background: #fff;
      overflow: hidden;
      line-height: 214px;
      height: 98vh;
      width: 98vw;
    }



     .carousel .item .image{
      background: #fff;
      overflow: hidden;
      line-height: 214px;
      width: 95vw;
      height: 95vh;
    }
