body {
      background: #f3f3f3;
      font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
      text-align: center;
      -webkit-text-size-adjust: none;
    }
    
    .carousel .item {
      background: #fff;
      overflow: hidden;
      line-height: 214px;
      height: 98vh;
      width: 98vw;
    }

    


     .carousel .item .image{
      background: #fff;
      overflow: hidden;
      line-height: 214px;
      width: 95vw;
      height: 95vh;
    }

   

    .col-xs-3{

      background-color: #DCDCDC;
      border-right: 2px solid #696969; 
      border-bottom: 2px solid #696969; 
      width: 25vw;
      height: 25vh;
    }



     .header .col-xs-3{
      width: 25vw;
      height: 25vh;
    }